html
  head 
    title My Pug Template
    link(rel="stylesheet", href="/styles/global.css")
  body
    .container
      h1.page-title Welcome to My Pug Template
      p This is a sample Pug template rendered by Express.